:root {
    --white: #fff;
    --gray: rgb(9, 9, 9);
    --gray-bg: rgb(246, 246, 246);
    --green: #6fe8d7;
    --gray-light: rgb(168, 178, 186);
    --btn-green: rgb(0, 211, 181);
    --form-border: rgb(206, 212, 218);
    --carousel-indicator: rgb(222, 226, 231);
    --default-size: 14px;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--gray-light);
    padding-top: 80px;
}

h1,h2,h3,h4 {
    color: var(--gray);
}

.period {
    color: var(--green);
}

.section--title {
    font-weight: 900;
    font-size: 40px;
}

.section--image {
    width: 600px;
}

.section--button {
    background: var(--btn-green);
    border: 0;
    border-radius: 30px;
    padding: 10px 30px;
    box-shadow: 13px 2px 25px -8px rgba(111,232,215,0.43);
}

.main--nav {
    background: var(--white);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.nav-item {
    color: var(--gray);
    font-size: var(--default-size)
}

.nav-item--contact-us {
    color: var(--green) !important;
}

.hero--main-title {
    font-size: 20px;
}

.hero--title {
    font-size: 50px;
    font-weight: 900;
}

.dark--section {
    background: var(--gray-bg);
}

.feature--container {
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.feature--icon {
    background: var(--btn-green);
    display: inline-block;
    width: 40px;
    height: 40px;
    color: var(--white);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.feature--title {
    font-size: 18px;
}

.feature--learn-more {
    color: var(--green);
}

.prototype--list {
    list-style-type: none;
    padding-left: 20px;
    position: relative;
}

.prototype--list-item:before {
    font-family: 'icomoon';
    content: "\e5ca";
    color: var(--green);
    position: absolute;
    left: 0;
}

.prototype--person-container {
    padding: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.prototype--person-image {
    width: 60px;
    border-radius: 50%;
}

.prototype--person-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.prototype--person-job {
    display: block;
    font-weight: 300;
    margin-top: 5px;
}

.testimonials--image {
    width: 80px;
    border-radius: 50%;
}

.testimonials--name {
    color: var(--gray)
}

.carousel-indicators {
    bottom: -45px !important;
}

.carousel-indicator {
    background-color: var(--carousel-indicator) !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    opacity: 1 !important;
}

.carousel-indicator.active {
    background-color: var(--green) !important;
}

.contact-us--container {
    padding: 30px;
    background: var(--white);
    margin-top: 50px;
}

.col-form-label {
    color: var(--gray);
}

.form-control {
    border: 1px solid var(--form-border) !important;
    border-radius: 0;
}

.copyright {
    color: var(--gray)
}